.home {
    width: 100%;
    .span {
      padding: 15px;
      text-align: center;
      font-size: 20px;
    }
    .home-content {
      margin: 5px auto;
      display: flex;
      width: 80%;
      .home-img {
        border: rgb(233, 209, 209) solid 0.5px;
        text-align: center;
        width: 80%;
        margin: 2px;
        padding: 2px;
        border-radius: 5px;
        h4 {
          color: rgb(3, 169, 219);
        }
        img {
          width: 150px;
          border-radius: 50%;
          height: 150px;
        }
      }
    }
    .content {
      width: 98%;
      margin: auto;
     
      .content-position {
        width: 450px;
        height: 850px;
        background-image: url(http://marriottgrandcaymanbeachhouse.com/resources/img/vertical1.jpg);
        .content-img1 {
          text-align: center;
          padding-top: 120px;
          h4 {
            color: white;
          }
          h3 {
            color: white;
            font-size: 30px;
          }
          button {
            transform: transform 0, 5s;
            color: rgb(47, 212, 190);
            font-size: 20px;
            &:hover {
              color: red;
              background-color: rgb(44, 165, 129);
            }
          }
        }
      }
      .content-position1 {
        background-image: url(http://marriottgrandcaymanbeachhouse.com/resources/img/anchor-den-wide.jpg);
        width:910px;
        height: 430px;
        margin-left: 470px;
        margin-top: -285px;
        .content-img2 {
          padding-top: 120px;
          text-align: center;
          // margin-left: -350px;
          h4 {
            color: white;
          }
          h3 {
            color: white;
            font-size: 30px;
          }
          button {
            transform: transform 0, 5s;
            color: rgb(47, 212, 190);
            font-size: 20px;

            &:hover {
              color: red;
              background-color: rgb(44, 165, 129);
            }
          }
        }
      }
      .content-position2 {
        background-image: url(http://marriottgrandcaymanbeachhouse.com/resources/img/energy-meetings-grid.jpg);
        width: 910px;
        height: 400px;
        margin-left: 470px;
        margin-top: 20px;
        .content-img3 {
          padding-top: 120px;
          // margin-left: -350px;
          text-align: center;
          h4 {
            color: white;
          }
          h3 {
            color: white;
            font-size: 30px;
          }
          button {
            transform: transform 0, 5s;
            color: rgb(47, 212, 190);
            font-size: 20px;

            &:hover {
              color: red;
              background-color: rgb(44, 165, 129);
            }
          }
        }
      }
    }
    .content-center1 {
      margin-top: 10px;
    }
    .content-card {
      width: 98%;
      margin: auto;
      padding-top: 20px;
      .content-center {
        text-align: center;
  
        span {
          font-size: 20px;
        }
      }
      .content-center1 {
        flex-wrap: wrap;
        flex: start;
        display: flex;
        width: 98%;
        margin: auto;

        .Card-container {
          padding: 5px;
          flex-direction: column;
          border-radius: 5px;
          cursor: pointer;
          height: 400px;
          min-width: 250px;
          margin: 10px auto;
          max-width: 350px;
          box-shadow: 3px 3px 10px rgb(184, 183, 183);
          background-color: #fff;
          display: flex;
          border: rgb(83, 83, 83) solid 2px;
          .image {
            width: 300px !important;
            height: 160px !important;
            border-radius: 5px;
            box-shadow: 1px 1px 2px rgb(184, 183, 183);
          }
        }
      }
    }
  }